*{
 margin: 0;
 padding: 0;
 text-decoration: none;
 box-sizing: border-box;
  font-family: sans-serif;
}


.intro{
  width: 100%;
  height: 600px;
  margin-top: 0%;
  background-image: url(assets/banner-topo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
/* Logo */
.logo{
color: #3c184e;
width: 250px;
padding-top: 20px;
}
.logo img{
  width: 30px;
  margin-right: 5px;
}
.logo p{
  text-align: center;
  font-size: 14px;
  margin: -8px;
  font-weight: bold;
}
div .plogo{
  margin: 0 0 5px;
  font-size: 35px;
}

/* Banner */
.banner{
text-align: center;
max-width: 1040px;
padding: 40px;
border-radius: 10px;
margin: 70px auto 0;
background-color: #ffffffc4;
box-shadow: 0 8px 32px  #1f26875e;
}
.banner h1{
font-size: 60px;
text-align: center;
margin: 0 0 40px;
color: #3c184e;
font-weight: 700;
}
.banner p{
  width: 200px;
  padding: 10px 25px;
  margin: 0 auto 0;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #3c184e;
}
.banner a{
  text-decoration: none;
  color: #ffffff;
}
.banner img{
  width: 20px;
}
/* Serviços*/
.service{
  width: 100%;
  padding: 120px 60px;
  text-align: center;
  color: #3c184e;
   box-shadow: 3px 6px 10px 6px #0000005c;
  
}
.service ul{
max-width: 800px;
margin: 0 auto 50px;
box-sizing: border-box;
overflow-x: hidden;
}
.service li{
font-size: 18px;
margin: 0 0 20px;
}
.service span{
  font-weight: 700;
  font-style: italic;
}
.service h3{
  font-size: 36px;
  text-align: center;
  margin: 0 0 45px;
  color: #3c184e;
}
.service img{
max-width: 800px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 6px 10px 6px #0000005c;
}

/* info */
.info{
color: #ffffff;
text-align: center;
padding: 120px 80px;
background-color: #3c184e;
 box-shadow: 3px 6px 10px 6px #0000005c;
}

.info p{
max-width: 800px;
text-align: center;
margin: 0 auto 50px;
font-size: 40px;
color: #fff;
}
.info span{
font-weight: 700;
font-style: italic;
}
.info img{
  text-decoration: none;
  margin: 0 20px;
  width: 50px;
  height: 50px;
}

/* Marcas*/
.brands{
  width: 100%;
  padding: 120px 80px;
}
.brands h3{
  font-size: 36px;
  color:#3c184e;
  text-align: center;
  margin: 0 0 45px;
}
.imgbrands{
  max-width: 800px ;
  margin: 0 auto;
}
.imgbrands img{
  width: 148px;
  height: 148px;
  margin: 0 15px;
}

/* Localização */
.maps{
  text-align: center;
  padding: 120px 80px;
  box-shadow: 3px 6px 10px 6px #0000005c;
}
.maps h3{
  font-size: 36px;
  color:#3c184e;
  text-align: center;
  margin: 0 0 45px;
}

.maps p{
font-size: 20px;
color:#3c184e;
text-align: center;
margin: 0 0 45px;
}
iframe{
  width: 800px;
  height: 450px;
}

/* rodapé */
.rodape{
width: 100%;
padding: 10px 0;
background-color: #3c184e;
}
.rodape p{
  color: #fff;
  font-size: 12px;
  text-align: center;
}
.rodape a{
  text-decoration: none;
  color: #fff;
}